snippet pahcta "A CTA for PAH. Needs bg and fg colours and tracking information to be added." b
<a class="$3" href="$2?utm_medium=%%=v(@CH_Channel)=%%&utm_source=%%=v(@CH_Sub_Business_Entity)=%%_%%=v(@CH_Channel)=%%&utm_campaign=%%=v(@CH_Sub_Channel)=%%_%%=v(@GA_Campaign_Initiative)=%%_%%=v(@GA_Send_local_date)=%%_%%=v(@CH_Campaign_Code)=%%_%%=v(@GA_Click_Type)=%%%%=v(@GA_Campaign_Name)=%%&utm_content=$1&SFMC_ID=%%subscriberid%%" target="_blank" alias="$1">$0</a>
endsnippet
